:root {
  --color-default: #0f3b43;
  --color-primary: #08538b;
  --color-secondary: #70af6d;
  --color-background: #abdae0;
}
html, body {
    background-color: var(--color-background);
}
#root {
  margin: 0 auto;
  width: 100%;
  text-align: left;
}
.read-the-docs {
  color: #888;
}
